body{
    margin: 0;
    padding: 0;
}
header{
    text-align: center;
    background-color: #ccc;
    padding: 20px;
}
.section{
    text-align: center;
    padding: 20px;
    width: 30%;
    margin: 30px 0px;
}
.s1{
   background-color: #666;
   float: left;
}
.s2{
    background-color: #888;
    float: left;
}
.s3{
    background-color: #666;
    float: right;
    width: 31.65%;
}
.s4{
    clear: both;
    text-align: center;
    background-color: #eee;
    margin-bottom: 30px;
    padding: 20px;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
aside{
    margin-left:30px;
    line-height: 100px;
    width: 300px;
    height: 300px;
    background-color: #fff;
    float: left;
}
div{
    background-color: #6ea3da;
    padding: 20px;
    margin-top: 70px;
}
footer{
    padding: 20px;
    background-color: #ccc;
    text-align: center;
}

